* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.princ {
    width: 38rem;
    height: 45rem;
    background-color: #720000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: #fede04;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
        color: #fede04;
        align-self: flex-start;
        margin-left: 4rem;
    }
}

input {
    width: 30rem;
    height: 3rem;
    border-radius: 1.2rem;
    border: none;
    margin-bottom: 2rem;
    padding-left: 1rem;
    font-size: 1.6rem;

    &::placeholder {
        font-size: 1.2rem;
    }
}

button {
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #fede04;
    color: #000;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 2rem;

    a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }
}

p {
    margin-top: 2rem;
    color: #fede04;
    font-size: 1.4rem;
}

a {
    margin-top: 1rem;
    color: #fede04;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
}