* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    height: 200vh;
}

header {
    width: 100%;
    height: 14rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #fede04;
    }

    .cima {
        display: flex;
        flex-direction: row;
        gap: 50rem;
    }

    .baixo {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        margin-top: 2rem;

            a {
            text-decoration: none;
            font-size: 1.5rem;
            color: #fede04;
            
        }
    }
}

main {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: 100rem;
        height: auto;
        background-color: #fff;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 4rem;
            margin-bottom: 0rem;
            color: #000;
            margin-left: auto;
            margin-right: auto;
            
        }

        p {
            font-size: 1.8rem;
            margin-top: 1.2rem;
            color: #000;
            text-align: center;
            width: 80rem;
            margin-bottom: 5rem;
        }
    }
}

img {
    width: 27rem;
    height: auto;
}

.princ {
    width: 100rem;
    height: auto;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.8rem;
        margin-top: 1.2rem;
        color: #000;
        text-align: center;
        width: 50rem;
        margin-bottom: 5rem;
        width: 30rem;
    }
}

.direita {
    display: flex;
    flex-direction: column-reverse;
}

.esquerda {
    p {
        margin-top: 5rem;
    }
}

.baixo {
    margin-top: 10rem;

    h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    h4 {
        font-size: 2rem;
        margin-top: 1.2rem;
    }
}

h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
}