*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Outfit' , sans-serif;
}

header {
    width: 100%;
    height: 14rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #fede04;
    }

    .cima {
        display: flex;
        flex-direction: row;
        gap: 50rem;
    }

    .baixo {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        margin-top: 2rem;

            a {
            text-decoration: none;
            font-size: 1.5rem;
            color: #fede04;
            
        }
    }
}

main {
    display: flex;
    justify-content: center;
    padding-inline: 10rem;
    height: 150vh;
    margin-top: 2rem;


        .caixa {
        background-color: #fede04;
        padding: 1rem;
        border-radius: .8rem;
        margin: 2rem;
       

        p {
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
        }
    }

    .lado-dois { 

        .p-dois {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
        .p-quatro {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-seis {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-oito {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
    }

        .lado-um { 

        .p-um {
            display: flex;
            justify-content: center;
            margin-inline: 25rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
        .p-tres {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-cinco {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-sete {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
    }
}

    .cinza {
        background-color: #737064;
        padding: 7rem;
    }