* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45rem;
}

.direita {
    width: 32rem;
    height: 40rem;
    background-color: #720000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.8rem;
        margin-top: 1.2rem;
        color: #fede04;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 5rem;
        margin-top: 1.5rem;
        color: #fede04;
    }

    input {
        width: 24rem;
        height: 2.7rem;
        border-radius: 1rem;
        border: none;
        margin-bottom: 1.5rem;
        padding-left: 1rem;
        font-size: 1.6rem;

        &::placeholder {
            font-size: 1.2rem;
        }
    }

    button {
        width: 12rem;
        height: 3rem;
        border-radius: 1.5rem;
        border: none;
        background-color: #fede04;
        color: #000;
        font-size: 1.6rem;
        cursor: pointer;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
        }
    }
}

.osdainput {
    align-self: flex-start;
    margin-left: 4.5rem;
    color: #fede04;
}

a {
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fede04;
    cursor: pointer;
}

#unico {
    font-size: 1.2rem;
    margin-top: 2rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #fede04;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #fede04;
}